<div id="<%= dom_id persona %>">
  <p>
    <strong>Name:</strong>
    <%= persona.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= persona.phone %>
  </p>

  <p>
    <strong>Identification:</strong>
    <%= persona.identification %>
  </p>

</div>
